.weatherDetailsCard {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 10px;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
}

.bgGreen {
  background-color: rgb(28, 196, 19);
}

.bgRed {
  background-color: rgb(255, 0, 0);
}

.weatherDetailsCard > .detailsRow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.detailsRow>* {
  padding: 10px;
}

.editDeleteRow {
  display: flex;
}

@media screen and (max-width:500px) {
  .weatherDetailsCard {
    min-width: 220px;
  }
}